<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.App_Food_KTCK">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_Food_KTCK"
        tools:targetApi="31">
        <activity
            android:name="com.example.App_Food_KTCK.ActivityForgotPassword"
            android:exported="false" />
        <activity
            android:name="com.example.App_Food_KTCK.ActivitySignUp"
            android:exported="false" />
        <activity
            android:name="com.example.App_Food_KTCK.ActivitySignIn"
            android:exported="false" />
        <activity
            android:name="com.example.App_Food_KTCK.ActivityShare"
            android:exported="false" />
        <activity
            android:name="com.example.App_Food_KTCK.ActivityReview"
            android:exported="false" />
        <activity
            android:name="com.example.App_Food_KTCK.ActivityDowload"
            android:exported="false" />
        <activity
            android:name="com.example.App_Food_KTCK.ActivityFavorite"
            android:exported="false" />
        <activity
            android:name="com.example.App_Food_KTCK.ActivityProfile"
            android:exported="false" />
        <activity
            android:name="com.example.App_Food_KTCK.ActivitycategoryDetail"
            android:exported="false" />
        <activity
            android:name="com.example.App_Food_KTCK.ActivityDetail"
            android:exported="false" />

        <activity
            android:name="com.example.App_Food_KTCK.ActivityContaint"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>